{% extends 'base.html' %} {% block head %}
<title>About</title>
{% endblock %} {%- block content %}
<div>
<h2>About</h2>
<h3>制作者</h3>
<p>ITサポーター・MK</p>
<h4>SNS</h4>
<p><i class="bi bi-twitter"></i>&nbsp;&nbsp;<a href="https://twitter.com/masaru21" class="text-decoration-none">twitter</a></p>
<p><i class="bi bi-instagram"></i>&nbsp;&nbsp;<a href="https://www.instagram.com/vipjp777/" class="text-decoration-none">instagram</a></p>
<h4>WebSite</h4>
<p><i class="bi bi-box-arrow-up-right"></i>&nbsp;&nbsp;<a href="https://www.itsupporter-mk.com/" class="text-decoration-none">ITサポーター・MK</a></p>
<h4>謝辞</h4>
<p>漢字の画数計算で使用するデータベースは、下記のページの作者が作られたファイルを使用しました。</p>
<p><i class="bi bi-box-arrow-up-right"></i>&nbsp;&nbsp;<a href="https://qiita.com/kuroge/items/cc6c8167d7b9f06a1aef#comment-fa64c9c4930de0b6d7c6" class="text-decoration-none">常用・人名漢字とその画数のCSVデータを自作</a></p>
</div>

{% endblock %}
