{% extends 'base.html' %} {% block head %}
<title>画数調べ</title>
<script type="text/javascript" src="/static/js/hantei.js"></script>
{% endblock %} {% block content %}
<h1>画数を調べて九星の相性を調べます。</h1>
<form action="{{ url_for('kakusu_select') }}" method="POST">
  <div class="row mt-3 mb-3">
    <div class="nen col-sm">
      <h2>鑑定する年の九星は</h2>
      <select
        class="form-select"
        aria-label="Default select example"
        name="kusei_nen"
      >
        <option value="1">一白水星</option>
        <option value="2">二黒土星</option>
        <option value="3">三碧木星</option>
        <option value="4">四緑木星</option>
        <option value="5">五黄土星</option>
        <option value="6">六白金星</option>
        <option value="7">七赤金星</option>
        <option value="8">八白土星</option>
        <option value="9">九紫火星</option>
      </select>
    </div>
    <div class="mon_day col-sm">
      <h2>鑑定する月の九星は</h2>
      <select
        class="form-select"
        aria-label="Default select example"
        name="kusei_tuki"
      >
        <option value="1">一白水星</option>
        <option value="2">二黒土星</option>
        <option value="3">三碧木星</option>
        <option value="4">四緑木星</option>
        <option value="5">五黄土星</option>
        <option value="6">六白金星</option>
        <option value="7">七赤金星</option>
        <option value="8">八白土星</option>
        <option value="9">九紫火星</option>
      </select>
    </div>
    <div class="day_div col-sm">
      <h2>鑑定日の九星は</h2>
      <select
        class="form-select"
        aria-label="Default select example"
        name="kusei_hi"
      >
        <option value="1">一白水星</option>
        <option value="2">二黒土星</option>
        <option value="3">三碧木星</option>
        <option value="4">四緑木星</option>
        <option value="5">五黄土星</option>
        <option value="6">六白金星</option>
        <option value="7">七赤金星</option>
        <option value="8">八白土星</option>
        <option value="9">九紫火星</option>
      </select>
    </div>
  </div>

  <div class="select_form col-sm">
    <h2>何から入力しますか</h2>
    <div class="select_form_p">
      <label for="r1">
        <input type="radio" id="r1" name="select_form_id" value="kisyu" required/>騎手名（選手名)&nbsp;&nbsp;
      </label>
      <label for="r2">
        <input type="radio" id="r2" name="select_form_id" value="uma" required/>馬名
      </label>
    </div>
  </div>
  <div class="btn_submit">
    <button type="submit" class="btn btn-primary">送信</button>
  </div>
</form>
<script type="text/javascript">
  hantei();
</script>
{% endblock %}
